*.map
*.log
*/out/
*/debug/
*/node_modules/
*/package-lock.json
package-lock.json
debug/
node_modules/
*.iml
.idea
.vscode
src/game.js
dist/
client/dist/
client/src/assets/atlases/*.png
client/src/assets/atlases/*.json
client/src/assets/hash.json
client/src/assets/sounds/SOUND_FILE.*
/client/assets/hash.json
